<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/reset.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="stylesheet" href="/uikit/css/uikit.min.css">

</head>
<body>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-navbar-item"><a href="/">Main</a></li>
            <li class="uk-navbar-item"><a href="/resources">Resources</a></li>
            <li class="uk-navbar-item"><a href="/client-leads">Client Leads</a></li>
            <li class="uk-active"><a href="/projects">Projects</a></li>
        </ul>
    </div>
  </nav>

  <main class="uk-margin-left uk-margin-right uk-margin-top uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-flex-around" uk-grid>
    <div>
     <h2 class="uk-heading-line uk-text-left">
      <span>Add Project</span>
    </h2>
    <form action="/projects" method="post">
      <fieldset class="uk-form-stacked">
      <input type="text" name="client_name" class="uk-input" placeholder="Client Name">
      <select name="cs_id" class="uk-select">
        <option disabled selected>Client Lead</option>
        <% clientLeads.forEach(clientLead => { %>
        <option value="<%= clientLead.id %>"><%= clientLead.name %></option>
        <% }) %>
      </select>
      <input type="text" name="starting_budget" class="uk-input" placeholder="Starting Budget">
      </fieldset>
      <input id="date" type="hidden" name="created">
      <input type="submit" value="create" class="uk-button uk-button-primary uk-button-small">
      <input type="reset" value="reset" class="uk-button uk-button-small">
    </form>
      <% if (newProject) { %>
        <h3 class="uk-heading-bullet">Created <%= newProject.client_name %></h3>
      <% } %>
    </div>
  <div class="uk-text-right">
    <h2 class="uk-heading-line uk-text-right">
      <span>Edit Projects</span>
    </h2>
    <% projects.forEach(project => { %>
    <a class="uk-width-1-1 uk-button uk-button-default uk-button-small">
     <%= project.client_name %><br><span class="uk-text-muted"><%= project.name %></span></a>
    <% }) %>
</main>
<script src="/uikit/js/uikit-icons.min.js"></script>
<script src="/uikit/js/uikit.min.js"></script>
<script src="/moment/moment.min.js"></script>
<script>
  let today = moment().format('YYYY-MM-DD');
  let createdInput = document.querySelector('#date');
  createdInput.value = today;
</script>
</body>
</html>
