<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/reset.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="stylesheet" href="/uikit/css/uikit.min.css">

</head>
<body>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-navbar-item"><a href="/">Report</a></li>
            <li class="uk-navbar-item"><a href="/resources">Resources</a></li>
            <li class="uk-navbar-item"><a href="/client-leads">Client Leads</a></li>
            <li class="uk-active"><a href="/projects">Projects</a></li>
        </ul>
    </div>
  </nav>

  <main class="uk-margin-left uk-margin-right uk-margin-top uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-flex-around" uk-grid>
    <div>
     <h2 class="uk-heading-line uk-text-left">
      <span>Edit Project</span>
    </h2>
    <form action="/projects" method="post">
      <fieldset class="uk-form-stacked">

      <input type="text" name="client_name" class="uk-input" value="<%= thisProject.client_name %>">
      <select name="cs_id" class="uk-select">
        <% clientLeads.forEach(clientLead => { %>
          <% if (clientLead.id == thisProject.cs_id) { %>
          <option value="<%= thisProject.cs_id %>" selected>
          <%= clientLead.name %>
          </option>
          <% } %>
        <option value="<%= clientLead.id %>"><%= clientLead.name %></option>
        <% }) %>
      </select>
      <input type="text" name="starting_budget" class="uk-input" value="<%= thisProject.starting_budget %>">

      </fieldset>
      <input type="submit" value="Edit" class="uk-button uk-button-primary uk-button-small">
      <a href="/projects" class="uk-margin-left uk-button uk-button-text uk-button-small">Cancel</a>
    </form>

    </div>
  <div class="uk-text-right">
    <h2 class="uk-heading-line uk-text-right">
      <span>Projects</span>
    </h2>
    <% projects.forEach(thoseProject => { %>
    <a href="/projects/<%= thoseProject.id %>" class="uk-width-1-1 uk-button uk-button-default uk-button-small">
     <%= thoseProject.client_name %><br><span class="uk-text-muted"><%= thoseProject.name %></span></a>
    <% }) %>
</main>
<script src="/uikit/js/uikit-icons.min.js"></script>
<script src="/uikit/js/uikit.min.js"></script>
<script src="/moment/moment.min.js"></script>
<script>
  let today = moment().format('YYYY-MM-DD');
  let createdInput = document.querySelector('#date');
  createdInput.value = today;
</script>
</body>
</html>
