<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/reset.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="stylesheet" href="/uikit/css/uikit.min.css">

</head>
<body>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-navbar-item uk-active"><a href="/report">Report</a></li>
            <li class="uk-navbar-item"><a href="/assign-resources">Assign Resources</a></li>
            <li class="uk-navbar-item"><a href="/projects">Add/Edit Projects</a></li>
            <li class="uk-navbar-item"><a href="/resources">Edit Staff</a></li>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-navbar-item"><a href="/resources">Resources</a></li>
                <li class="uk-navbar-item"><a href="/client-leads">Client Leads</a></li>
            </ul>
          </div>
        </ul>
    </div>
  </nav>

  <main class="uk-flex uk-margin-top uk-flex-center uk-flex-column">
    <div class="uk-width-1-1">
      <h3 class="uk-heading-line uk-text-center">
      <span class="js-header">Report for week of <%= assignmentData[0].day %>
        <span class="uk-text-muted uk-margin-left"></span>
      </span>
    </h3>

  </div>

  <form action="/assign-resources?_method=put" method="post" class="js-form">
  <div class="uk-flex uk-flex-column uk-flex-center uk-margin-right uk-margin-left uk-margin-bottom">

    <table class="uk-table uk-table-striped uk-table-small uk-table-middle">
      <thead>
      <tr>
        <td class="uk-width-medium"></td>
        <td class="uk-width-small">Mon</td>
        <td class="uk-width-small">Tue</td>
        <td class="uk-width-small">Wed</td>
        <td class="uk-width-small">Thurs</td>
        <td class="uk-width-small">Fri</td>
        <!-- <td class="uk-width-small"> </td> -->
    </tr>
  </thead>
  <tbody>
    <% const makeRowsByFive = (element, index) => { %>
      <% if (index % 5 === 0) { %>

    <tr>
      <td class="">
        <span><%= element.resource_name %></span><br>
        <span class="uk-text-muted uk-text-small">
          <%= element.client_name %> - <%= element.client_lead %>
        </span>
      </td>
      <td>
        <input type="text" id ="<%= element.assignment_id %>" value="<%= element.hours %>" class="hours uk-input uk-form-width-xsmall uk-width-1-5">
      </td>

    <% } else if ((index + 1) % 5 === 0) { %>

      <td>
        <input type="text" id ="<%= element.assignment_id %>" value="<%= element.hours %>" class="hours uk-input uk-form-width-xsmall uk-width-1-5">
      </td>
    </tr>
      <% } else { %>
      <td>
        <input type="text" id ="<%= element.assignment_id %>" value="<%= element.hours %>" class="hours uk-input uk-form-width-xsmall uk-width-1-5">
      </td>
      <% } %>
    <% } %>
      <% assignmentData.forEach(makeRowsByFive) %>
    </tbody>

  </table>
  <div>
    <input type="submit" value="Update" class="uk-button uk-button-primary uk-margin-top js-submit">
    <a href="/assign-resources" class="uk-margin-left uk-margin-top uk-button-text uk-button">Cancel</a>
  </div>
  </form>
</main>
<!-- <script src="/uikit/js/uikit-icons.min.js"></script> -->
<script src="/uikit/js/uikit.min.js"></script>
<script src="/moment/moment.min.js"></script>
<script src="/static/scripts/report.js"></script>

</body>
</html>
